
.registration-page-wrapper {
    background-color: #f9f9fa;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    .column {
      max-width: 800px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
}

.registration-wrapper {
  width: 100%;
  .steps-content {
    margin-top: 16px;
    border: 1px solid $lighterGrey;
    border-radius: 6px;
    background-color: $offWhite;
    text-align: center;
  }
  
  .steps-action {
    margin-top: 24px;
  }  
  
  
  .create-organization-form {
    min-height: 300px;
    background-color: $offWhite;
    border: solid 1px $lighterGrey;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    padding: 3rem;
    border-radius: 6px;
    form {
      label{
        text-align: left;
        padding-left: 0.5rem;
      }
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;

    }
  }
  .connect-to-your-bank-button{
    button {
      padding: 1rem 1.2rem;
      border-radius: 6px;
      transition: 0.5s ease-in-out;
      color: $offWhite;
      background-color: #7953f5;
      cursor: pointer;
      &:hover {
        background-color: #6445ca;
      }
      &:focus{
        outline: none;
      }
    }
  }
  .form-int-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 24px;
    .integration {
      padding: 24px 48px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      grid-gap: 15px;
      div {
        padding: 12px;
       border-color: $lighterGrey;
      }
      div:hover {
        border-color:  #00D378
      }
    }
    .hr-sect {
      padding: 0px 48px;
      display: flex;
      flex-basis: 100%;
      align-items: center;
      color: rgba(0, 0, 0, 0.35);
      margin: 8px 0px;
    }
    .hr-sect::before,
    .hr-sect::after {
      content: "";
      flex-grow: 1;
      background: rgba(0, 0, 0, 0.35);
      height: 1.2px;
      font-size: 0px;
      line-height: 0px;
      margin: 0px 8px;
    }
    .new-integration {
      padding: 24px 48px;
      text-align: left;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }
}
