* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #f9f9fa;
}

h1,h2,h3,h3,h4,h5,h6 {
  color: $grey;
  font-weight: 400;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $darkBlue;
    cursor: pointer;
  }
}
.container {
  display: grid;
  grid-template-columns: 1fr;
}
.app-body-wrapper {
  display: flex;
  justify-content: center;
  .app-content-wrapper {
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 25px;
    .app-content {
      max-width: 975px;
      border: 1px solid $lighterGrey;
      background-color: $offWhite;
      border-radius: 4px;
      box-shadow: 0 3px 8px $shadow;
      padding: 50px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .app-content-wrapper {
      grid-template-columns: 1fr;
    }
  }
}


