* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #f9f9fa;
}

h1,h2,h3,h3,h4,h5,h6 {
  color: $grey;
  font-weight: 400;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $darkBlue;
    cursor: pointer;
  }
}
// reausable styles
.shadow {
  box-shadow: 0 3px 8px $shadow;
}
// .container {
//   display: grid;
//   grid-template-columns: 1fr;
// }
.app-body-wrapper {
  display: flex;
  justify-content: center;
  .app-content-wrapper {
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    .app-content {
      max-width: 975px;
      border: 1px solid $lighterGrey;
      background-color: $offWhite;
      border-radius: 4px;
      box-shadow: 0 3px 8px $shadow;
      padding: 50px;
      margin: 0px 20px;
    }
  }
  
  .table-controls-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .settings-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
  }
  .modal-wrapper{
    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 15px;
    }
  }
  .switch {
    max-width: 30px;
  }
  
  .button-wrapper-right {
    display: flex;
    justify-content: flex-end;
  }
  .payment-settings {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 15px;
    .payment-info {
      
    }
    .payment-options {
      margin-top: 40px;
    }
  }
  .dashboard-wrapper-x {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    justify-items: center;
    div {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .app-content-wrapper {
      display: block;
    }
    
    .table-controls-wrapper {
      display: grid;
      grid-template-columns: 1fr;
    }

    .side-nav-wrapper, .app-content {
      margin: 10px 20px;
    }
  }
}


