.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding:  0px 30px;
  border-bottom: 1px solid #E4E7EB;
  margin-bottom: 30px;
  background-color: $offWhite;

  .left-side{
    align-self: center;
  }
  
  .right-side {
    display: flex;
    justify-content: flex-end;
    .nav-link-wrapper {
      border-left: 1px solid $lighterGrey;
      text-transform: uppercase;
      a {
        padding: 20px 15px;
        display: flex;
        transition: 0.5s ease-in-out;
        align-items: center;
        text-decoration: none;
        color: $mediumGrey;
        font-weight: 300;
        font-size: 0.9em;
      }
    }
  }
}