.side-nav-wrapper {
  background-color: $offWhite;
  border: solid 1px $lighterGrey;
  border-radius: 4px;
  max-height: 366px;
  box-shadow: 0 3px 8px rgba(0,0,50,.15);
  
  .nav-link-wrapper {
    display:flex;
    border-bottom: 1px solid $lighterGrey;
    img {
      margin-right: 10px;
      align-self: center;
      // padding: 5px;
    }
    
    a {
      width: 100%;
      display: flex;
      transition: 0.5s ease-in-out;
      align-items: center;
      text-decoration: none;
      padding: 20px 15px;
      color: $mediumGrey;
      font-weight: 300;
      font-size: 1.0em;
    }
    
    .nav-link-active  {
      background-color: rgba(237, 244, 245, 0.947);
      color: $blue;
    }
    
    &:hover {
      background-color: rgba(237, 244, 245, 0.947);

    }
  }
  
  @media only screen and (max-width: 800px) {
    // .nav-link-wrapper {
    //   a {
    //     display: none;
    //   }
    // }
  }
}