
.tab-navigation-wrapper {
  height: 50px;
  .tab-navigation-items {
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      li {
        a {
          transition: 0.5s ease-in-out;
          cursor: pointer;
          color: $mediumGrey;
          font-weight: 300;
          padding: 20px 15px;
          border-bottom: solid 1.4px $mediumGrey;
          
          &:hover {
            background-color:rgba(237, 244, 245, 0.947);
          }
        }
      }
      .active {
        a {
          border-bottom: solid 1.8px $blue;
          color: $blue;
        }
      }
    }
  }
}
