.base-table-wrapper {
  overflow-x: scroll;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  table {
    white-space: nowrap;
    border-spacing: 0px;
    min-width: 900px;
    width: 100%;
    overflow: hidden;
    thead {
      th {
        font-weight: 400;
        border-bottom: 2.5px solid $lighterGrey;
        color: $mediumGrey;
        padding: 5px;
        
      }
    }
    tbody {
      td {
        border-bottom: 1px solid $lighterGrey;
        text-align: center;
        color: $grey;
        padding: 12px 6px;
      }
    }
  }
}