.base-table-wrapper {
  table {
    border-spacing: 0px;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
    min-width: 900px;
    thead {
      th {
        font-weight: 400;
        border-bottom: 2.5px solid $lighterGrey;
        color: $mediumGrey;
        padding: 5px;
        
      }
    }
    tbody {
      td {
        border-bottom: 1px solid $lighterGrey;
        text-align: center;
        color: $grey;
        padding: 12px 6px;
      }
    }
  }
}