$blue: #4B74FF;
$darkBlue: rgb(35, 68, 168);
//  rgb(59, 92, 202);
$blackBlue: #1B1725;
$offWhite: #FDFFFF;

$grey: #686868;
$mediumGrey: #959595;
$lightGrey: #C6CBD4;
$lighterGrey: #E4E7EB;
$shadow:  rgba(0,0,50,.15);